html {
  width: 100%;
  height: 40%;
}

body {
  width: 900px;
  margin:auto;
}

header {
  margin-top: 35px;
  margin-bottom: 30px;
}

main {
  margin-top: 60px;
}

p {
  color: #666;
  font-size: 19px;
  /*border: 1px dotted red;*/
}

h1 {
  font-family: 'Yellowtail';
  font-size: 36px;
  display: inline;
  position: absolute;
  bottom: -15px;
  left: 50px;
}

h3 {
  color: #666;
  font-weight: bold;
  font-size: 21px;
  margin-top: 0;
  display: inline;
  /*border: 1px dotted red;*/
}

h4 {
  color: #B4ACAE;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  line-height: 0px;
}

h5 {
    font-family: 'Monaco';
    font-size: 11px;
    display: inline;
    color: #999;
    position: absolute;
    bottom: -16px;
    left: 52px;
}

.delicious {
  position: relative;
}

.social {
  position:absolute;
  right: 0px;
  display: inline;
}

.links{
  padding: 0px 0.1px;
}

.links-left{
  padding: 0px 4px 0px 0.1px;
}

.links-right{
  padding: 0px 0.1px 0px 4px;
}

.ingredientsBox {
  position:relative;
  width:899px;
  height:305px;
  margin-bottom: 40px;
  /*border: 1px dotted red;*/
}

ul.ingredientsList {
  position: absolute;
  font-family: 'Patrick Hand',cursive;
  font-size: 23px;
  color: #777;
  list-style-type: none;
  top: 12px;
  left: 25px;
  columns: 2;
  column-gap: 40px;
  margin-right: 100px;
}

li.columnBreak {
  break-after: column;
}

.check:checked {
  background-color: #000;
}

.sectionBreak {
  height: 13px;
  width: 900px;
  background: repeating-linear-gradient(
    45deg,
    #969696,
    #969696 1px,
    #fff 1px,
    #fff 4px
  );
  /*border: 1px dotted red;*/
}

footer {
  margin-top: 20px;
  /*border: 1px dotted red;*/
  position:relative;
}

.profile {
  float: left;
  margin-right: 20px;
  /*border: 1px dotted red;*/
}

.vanessa {
  width: 75%;
  float: left;
  margin-bottom: 50;
}

.sharebutton {
  background-color: #BC7058;
  padding: 20px 40px;
  color: #FFF;
  font-family: sans-serif;
  float: right;
  display: inline;
  margin-top: 10px;
}

.emptybox {
  width:900px;
  height:185px;
}

.bottomline
{
  height: 1px;
  width: 900px;
  background-color: #ECECEC;
  position: absolute;
  top:200px;
  display: block;
  z-index: -1;
}

.smallLogo {
  margin:auto;
  display:block;
}

input[type="checkbox"] {
    display:inline-block;
    width:19px;
    height:19px;
    margin:0px 6px 0 0;
    vertical-align:middle;
    filter: invert(2%);
}

input[type="checkbox"]:checked {
}

input:checked + label {
  text-decoration: line-through;
}
